<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-main-title></app-main-title>
<div class="articles">
  <div class="articles_main">
    <app-big-card titulo="Titulo Main"></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card [Id]="1" titulo="Titulo 1" foto="/assets/sem_imagem.png"  ></app-small-card>
    <app-small-card [Id]="2" titulo="Titulo 2" foto="/assets/sem_imagem.png" ></app-small-card>
    <app-small-card [Id]="3" titulo="Titulo 3" foto="/assets/sem_imagem.png" ></app-small-card>
  </div>
</div>
