.container_menu_bar{
  display: flex;
  flex-direction: row;
  color: #fff;
}

.container_menu_bar > ul {
  display: flex;
  flex-direction: row;
}
.container_menu_bar > ul > li{
  list-style: none;
  margin: 5px;
}
